* {
  box-sizing: border-box;
}

body {
  max-width: 500px;
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  overflow-y: hidden;
  size: 100vh;
}

header {
  background: #ede3d7;
  margin: 1px;
  padding-bottom: 40px;
  color: ivory;
  text-align: center;
  border-radius: 40% 30% 20% 40%;
  border: solid 1px black;
  box-shadow: 0 1.5px 5px;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

h2 {
  font-size: 40px;
  margin: 20px;
}

h3 {
  font-size: 20px;
}

h4 {
  margin: 20px 20px 40px;
}

input,
button {
  font-size: 1em;
}

img {
  padding: 15px 0 15px 0;
  margin-bottom: 1px;
}

.border {
  margin: 20px;
}

.hidden {
  display: none !important;
}

form {
  position: relative;
}

span {
  position: absolute;
  right: 30px;
}
