.quiz-card {
  border-radius: 40% 30% 20% 40%;
  background: #8fa8ac;
  border: solid 1px black;
  margin: 60px 40px 60px 40px;
  box-shadow: 0 1.5px 5px;
  position: relative;
}

.quiz-card__question {
  margin: 40px 20px 10px 20px;
  border: solid 1px black;
  font-weight: 400;
}

.quiz-card__results {
  border-radius: 40% 30% 20% 40%;
  background: pink;
  border: solid 1px black;
}
.bookmark {
  position: absolute;
  top: -10px;
  right: 10px;
}
