<section class="qbox">
  <div class="bookmark">
    <img src="../images/bookmark.svg" alt="bookmark" width="30px" />
  </div>
  <p class="qbox__question">
    1. Welche der Antworten ist keine echte Eissorte?
  </p>
  <ul class="qbox__answer">
    <input type="radio" name="q1" value="a" id="q1a" />
    <label for="q1a">Option 1</label
    ><br />
    <input type="radio" name="q1" value="b" id="q1b" /><label for="q1b"
      >Option 2</label
    ><br />
    <input type="radio" name="q1" value="c" id="q1c" /><label for="q1c"
      >Option 3</label
    ><br />
    <input type="radio" name="q1" value="d" id="q1d" /><label for="q1d"
      >Option 4</label
    ><br />
  </ul>
  <details class="qbox__loesung">
    <summary>The Right answers is</summary>
    <strong>Question 1:</strong> The correct answer is the
    <strong>Option 1</strong>.
  </details>
</section>

<!-- 
  <details class="qbox">
    <summary class="qbox__question">
      1. Welche der Antworten ist keine echte Eissorte?
    </summary>
    <ul class="qbox__answer">
      <input type="radio" name="q1" value="a" id="q1a" />
      <label for="q1a">Option 1</label
      ><br />
      <input type="radio" name="q1" value="b" id="q1b" /><label for="q1b"
        >Option 2</label
      ><br />
      <input type="radio" name="q1" value="c" id="q1c" /><label for="q1c"
        >Option 3</label
      ><br />
      <input type="radio" name="q1" value="d" id="q1d" /><label for="q1d"
        >Option 4</label
      ><br />
    </ul>
    <div id="qbox__results">The Right answers is</div>
    <strong>Question 1:</strong> The correct answer is the
    <strong>Option 1</strong>.
  </details>
  -->
