.qbox {
  border-radius: 40% 30% 20% 40%;
  background: #8fa8ac;
  border: solid 1px black;
  margin: 60px 40px 60px 40px;
  box-shadow: 0 1.5px 5px;
}

.qbox__question {
  margin: 20px;
  border: 2px solid #555;
  color: #333;
  font-weight: 400;
}

.qbox__answer {
}

.qbox__results {
  border-radius: 40% 30% 20% 40%;
  background: pink;
  border: solid 1px black;
}
