.app-grid {
  background-image: url('../images/bg.jpeg');
  display: grid;
  grid-template-rows: 100px auto 70px;
  height: 100vh;
  margin: 0 auto;
}

.app-grid__main {
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
