<!-- <div class="app-grid" background="../images/bg.jpeg">
  <header>header</header>

  <main class="app-grid__main">main</main>

  <nav class="navigation">
    <a href="#home"><img src="../images/home.svg" width="40px" alt="home" /></a>

    <a href="#bookmarks"
      ><img src="../images/bookmark.svg" width="22px" alt="bookmarks"
    /></a>

    <a href="#create"
      ><img src="../images/createsmall.svg" width="30px" alt="create"
    /></a>

    <a href="#profile"
      ><img src="../images/profile.svg" width="40px" alt="profile/Settings"
    /></a>
  </nav>
</div>
 -->

<div class="app-grid" background="../images/bg.jpeg">
  <header class="app-grid__header"></header>

  <main class="app-grid__main"></main>

  <footer class="app-grid__navigation"></footer>
</div>
