.submit-button {
  margin: 0 0 20px;
  box-shadow: 0 1.5px 5px;
  background: transparent;
  border-radius: 47% 53% 31% 69% / 40% 30% 70% 60%;
  width: 150px;
  height: 50px;
  font-family: 'Amatic SC', cursive;
}

.share-it {
  margin-bottom: 40px;
}
