body {
  display: grid;
  grid-template-rows: 100px auto 100px;
}

.app-grid_header {
  position: fixed;
  top: 0;
  grid-row: 1;
}

.app-grid_main {
  background: pink;
  grid-row: 2;
}

.app-grid_footer {
  position: fixed;
  bottom: 0;
  grid-row: 3;
}
